<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ config.title }}</title>
      <style>
	body {
		margin:1em auto;
		max-width:40em;
		padding:0 .62em;
		font:1.2em/1.62 sans-serif;
		color: #D5D2D1 ;
		background-color: black ;
	}
	h1,h2,h3 {
		line-height:1.2;
	}
	@media print {
		body {
			max-width:none
		}
	}
	img {
		width: auto ;
		max-width: 100% ;
		height: auto ;
	}
      </style>
    </head>

  <body>
    <div class="content">
	{{section.content | safe}}
    </div>
  </body>
</html>
